# 说明
## 培训目的
- 了解python jupyter基本使用
- 了解pandas的基本概念和基本操作
    1. 数据读取
    2. Series和DataFrame结构
    3. 数据查询的方法（常用）
    4. 索引index方法
    5. 新增数据列
    6. 数据统计
    7. 数据排序
    8. apply方法
    9. groupby后的apply方法
    10. 数据合并，merge、concat
    11. 写入excel
- 使用预置环境和预置数据，无需编程基础，可以直接上手，满足一个统计需求
    - 1、统计每个科室的人数
    - 2、统计每个科室的平均年龄，找出平均年龄最大的科室
    - 3、统计每个科室的VTE高危占比、出血高危占比
    - 4、数据合并输出表格
    
# 概念
[The Power of Pandas: Python](https://itnext.io/the-power-of-pandas-python-253c11b40b88)


## python

[Jupyter 是什么](https://blog.csdn.net/franklfeng/article/details/117562667)
- Python 的创始人为荷兰人 吉多 · 范罗苏姆（Guido van Rossum），（34岁）1989年圣诞节 ，
- Python 本身是大蟒蛇的意思，但其创始人讲，名字来源1970年代英国首播的电视喜剧《蒙提·派森的飞行马戏团》（Monty Python's Flying Circus）。
- Python 语言的设计初衷，是为了创造一种简单易学、易于使用的编程语言。
- 但 Python 简约而不简单，优美而功能强大。以至于它的使用者越来越多，从学生扩展到程序员、专业技术人员、工程人员...在机器学习、人工智能突飞猛进的今天，Python语言再次迸发出新的活力。全世界都在学习 Python，目前很多中小学都在开设Python课程。

pyhton哲学:“人生苦短，我用 Python”，人们相信存在着最佳的实践方式，采用这种方式是最美的、最高效的、最优雅的，也即是 Pythonic 

[Python内置电池的哲学以及一场革命](https://mp.weixin.qq.com/s/W3Mvcf--igQuIoRua34MTQ)

[【AI杂谈-总结】Python语言规范之Pythonic 哲学](https://mp.weixin.qq.com/s/-TZDVOkcSh9Ui855AyYkUg)

[【AI杂谈-总结】Python语言规范之Pythonic 哲学2](https://mp.weixin.qq.com/s/Y7oFxSeHpIGMHRFj5RKlUg)

Tim Peters以创建Timsort混合排序算法以及对Python编程语言及其原始CPython(CPython是用C语言实现的Python解释器)实现的主要贡献而闻名。Timsort 算法是Java 和 Python 的默认排序算法。

[Python 中《import this》背后的故事](https://juejin.cn/post/6844903488216891405)

## python 之禅

In [189]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Jupter
```bash
pip install jupyter
# 进入工作目录
jupyter notebook
```
jupyter使用命令：


- 命令行模式（按esc进入）

  - Y: 把代码块变成代码
  - M: 把代码块变成 Markdown
  - A: 在上面插入代码块
  - B: 在下面插入代码块
  - ctrl+enter:  运行选中的代码块
  - D+D: 删除选中的代码块
  - Z: 恢复选中的代码块

- 编辑模式（按enter进入）



## pandas概念
pandas 是基于NumPy 的一种工具，是一种数据分析包。是为了解决数据分析任务而创建的。Pandas 纳入了大量库和一些标准的数据模型，提供了高效地操作大型数据集所需的工具。pandas提供了大量快速便捷地处理数据的函数和方法。

Pandas最初被作为金融数据分析工具而开发出来，因此，pandas为时间序列分析提供了很好的支持。 Pandas的名称来自于面板数据（panel data）和python数据分析（data analysis）。panel data是经济学中关于多维数据集的一个术语，在Pandas中也提供了panel的数据类型。

Series：一维数组，与Numpy中的一维array类似。二者与Python基本的数据结构List、字典很相近。Series如今能保存不同种数据类型，字符串、boolean值、数字等都能保存在Series中。

DataFrame：二维的表格型数据结构。很多功能与R中的data.frame类似。可以将DataFrame理解为Series的容器。以下的内容主要以DataFrame为主。

Panel ：三维的数组，可以理解为DataFrame的容器， Pandas 0.25 版本后， Panel 结构已经被废弃

### 练习:Dataframe、Series、index


- DataFrame: 二维数组

![image.png](./img/pandas_DataFrame1.png)

- Series:一种类似于一维数组的对象，由一组数据（各种numpy数据类型）以及一组与之相关的数据标签（即索引）组成。简言之，Series即索引+数据,key+value。

![image-2.png](./img/pandas_DataFrame2.png)



![](https://www.runoob.com/wp-content/uploads/2021/04/32B49FA4-ED68-446A-9EBF-C52FCB6D0CD6.jpg)


- index:
[Pandas Index Explained](https://towardsdatascience.com/pandas-index-explained-b131beaf6f7b)
"Pandas is a best friend to a Data Scientist, and index is the invisible soul behind pandas"
Index is like an address, that’s how any data point across the dataframe or series can be accessed. Rows and columns both have indexes, rows indices are called as index and for columns its general column names.

In [199]:
# https://www.runoob.com/pandas/pandas-series.html
a = ['张三','李四','王五']
a = pd.Series(a)
a

0    张三
1    李四
2    王五
dtype: object

In [200]:
# https://www.runoob.com/pandas/pandas-series.html
a = {10:'张三',1:'李四',2:'王五'}
a = pd.Series(a)
a

10    张三
1     李四
2     王五
dtype: object

In [201]:
# https://www.runoob.com/pandas/pandas-series.html
a = pd.Series(data= ['张三','李四','王五'],index=[2,4,5])
a

2    张三
4    李四
5    王五
dtype: object

In [202]:
a.index

Int64Index([2, 4, 5], dtype='int64')

In [203]:
# https://www.runoob.com/pandas/pandas-series.html
b = pd.Series(data= [2,4,5],index=['张三','李四','王五'])
b

张三    2
李四    4
王五    5
dtype: int64

In [204]:
b.index

Index(['张三', '李四', '王五'], dtype='object')

In [206]:
data = {'col1': [1, 2], 'col2': [3, 4]}
df2 = pd.DataFrame(data)
df2

   col1  col2
0     1     3
1     2     4


# 操作
## 数据读取

Pandas需要先读取表格类型的数据，进行分析


| 数据类型  |  说明 |  Pandas读取方法 |
|---|---|---|
| csv、tsv、txt  | 用逗号分隔、tab分割的纯文本  |  pd.read_csv |
| excel  | xls或xlsx文件  |  pd.read_excel |
| mysql  | 关系型数据库  |  pd.read_mysql |

更多读取操作参考： https://pandas.pydata.org/docs/reference/io.html

In [198]:
import pandas as pd
csv_file = './data/r_patient_statistics.csv'
df = pd.read_csv(csv_file) # dataframe
df

,patient_no,patient_sex,patient_age,current_dept,admi_dept,registration_time,discharge_time,vte_risk_level,bled_risk_level,is_vte,is_pe,is_dvt
0,S000152756@2,1,33,泌尿外科病区,神经内科病区,21/3/2022 15:18:27,NaN,1.0,1.0,2.0,2.0,2.0
1,10526527@6,1,53,泌尿外科病区,肝胆胰外科病区,13/3/2022 15:27:46,NaN,2.0,1.0,2.0,2.0,2.0
2,10308108@3,2,69,消化内科病区,消化内科病区,22/3/2022 15:14:05,NaN,3.0,3.0,2.0,2.0,2.0
3,10324585@5,1,81,泌尿外科病区,泌尿外科病区,14/3/2022 15:26:29,NaN,2.0,2.0,2.0,2.0,2.0
4,S000074604@2,2,74,肝胆胰外科病区,A呼吸与危重症医学科,1/3/2022 16:14:04,NaN,3.0,3.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
247,S000157033@1,1,54,神经外科一科病区,神经外科一科病区,14/3/2022 14:37:23,18/3/2022 15:28:36,NaN,NaN,2.0,2.0,2.0
248,6706100702@2,2,54,神经外科一科病区,A呼吸与危重症医学科,14/3/2022 11:07:28,18/3/2022 17:43:31,NaN,NaN,2.0,2.0,2.0
249,Y6695840@1,2,42,神经外科一科病区,神经外科一科病区,2/3/2022 15:10:35,17/3/2022 17:11:54,NaN,NaN,2.0,2.0,2.0
250,00174921,2,64,心血管内三科病区,心血管内三科病区,18/1/2021 07:10:00,NaN,1.0,1.0,2.0,2.0,2.0
251,X0027446@1,1,30,心血管内三科病区,心血管内三科病区,19/5/2022 20:30:26,NaN,1.0,1.0,NaN,NaN,NaN

In [70]:
df.dtypes

patient_no            object
patient_sex            int64
patient_age            int64
current_dept          object
admi_dept             object
registration_time     object
discharge_time        object
vte_risk_level       float64
bled_risk_level      float64
is_vte               float64
is_pe                float64
is_dvt               float64
dtype: object

## 统计描述

In [23]:
# 用于生成描述性统计数据，统计数据集的集中趋势，分散和行列的分布情况，不包括 NaN值。
# [pandas.DataFrame.describe方法小析](https://zhuanlan.zhihu.com/p/56526297)
df.describe(include='all')

,patient_no,patient_sex,patient_age,current_dept,admi_dept,registration_time,discharge_time,vte_risk_level,bled_risk_level,is_vte,is_pe,is_dvt
count,252,252.000000,252.000000,252,252,252,100,158.000000,158.000000,251.000000,251.000000,251.000000
unique,251,NaN,NaN,10,12,252,45,NaN,NaN,NaN,NaN,NaN
top,X0027446@1,NaN,NaN,泌尿外科病区,肾脏病科病区,24/3/2022 15:00:51,23/3/2022 16:00:00,NaN,NaN,NaN,NaN,NaN
freq,2,NaN,NaN,31,34,1,15,NaN,NaN,NaN,NaN,NaN
mean,NaN,1.337302,59.408730,NaN,NaN,NaN,NaN,1.955696,1.512658,1.968127,1.988048,1.976096
std,NaN,0.473730,16.410678,NaN,NaN,NaN,NaN,0.876770,0.746434,0.176012,0.108888,0.153057
min,NaN,1.000000,1.000000,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000
25%,NaN,1.000000,50.750000,NaN,NaN,NaN,NaN,1.000000,1.000000,2.000000,2.000000,2.000000
50%,NaN,1.000000,61.000000,NaN,NaN,NaN,NaN,2.000000,1.000000,2.000000,2.000000,2.000000
75%,NaN,2.000000,69.000000,NaN,NaN,NaN,NaN,3.000000,2.000000,2.000000,2.000000,2.000000
max,NaN,2.000000,100.000000,NaN,NaN,NaN,NaN,3.000000,3.000000,2.000000,2.000000,2.000000

## 数据查询


https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html#


- (使用[])选择某些列
- (使用[])选择某些行
- 选择某些行和列
    - df.loc()方法，根据行列的标签查询
    - df.iloc()方法，根据行列的数字位置查询
- 快速获取和设置标量值
    - df.at()方法，根据行列的标签查询
    - df.iat()方法，根据行列的标签查询

Pandas 使用df.loc()查询数据的方法

- 使用单个label值查询数据
- 使用值列表批量查询
- 使用数值区间进行范围查询
- 使用条件表达式查询
- 调用函数查询

注意：

- 注意观察降维：Dataframe->Series->值

### 选择某些列

In [207]:
# 选择某一列
df['patient_no']

0      S000152756@2
1        10526527@6
2        10308108@3
3        10324585@5
4      S000074604@2
           ...
247    S000157033@1
248    6706100702@2
249      Y6695840@1
250        00174921
251      X0027446@1
Name: patient_no, Length: 252, dtype: object

In [208]:
# 选择某几列
df[['patient_no','current_dept']]

       patient_no current_dept
0    S000152756@2       泌尿外科病区
1      10526527@6       泌尿外科病区
2      10308108@3       消化内科病区
3      10324585@5       泌尿外科病区
4    S000074604@2      肝胆胰外科病区
..            ...          ...
247  S000157033@1     神经外科一科病区
248  6706100702@2     神经外科一科病区
249    Y6695840@1     神经外科一科病区
250      00174921     心血管内三科病区
251    X0027446@1     心血管内三科病区

[252 rows x 2 columns]

###  选择某些行

In [31]:
# 按条件选择某些行
df[df['patient_age']>60]

,patient_no,patient_sex,patient_age,current_dept,admi_dept,registration_time,discharge_time,vte_risk_level,bled_risk_level,is_vte,is_pe,is_dvt
2,10308108@3,2,69,消化内科病区,消化内科病区,22/3/2022 15:14:05,NaN,3.0,3.0,2.0,2.0,2.0
3,10324585@5,1,81,泌尿外科病区,泌尿外科病区,14/3/2022 15:26:29,NaN,2.0,2.0,2.0,2.0,2.0
4,S000074604@2,2,74,肝胆胰外科病区,A呼吸与危重症医学科,1/3/2022 16:14:04,NaN,3.0,3.0,2.0,2.0,2.0
8,10522705@53,1,90,神经内科病区,神经内科病区,22/3/2022 15:19:23,NaN,3.0,3.0,1.0,2.0,1.0
9,Y3216908@1,1,71,心血管内三科病区,A呼吸与危重症医学科,23/3/2022 14:30:22,NaN,1.0,1.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
241,S000154994@1,1,65,泌尿外科病区,泌尿外科病区,9/3/2022 07:59:09,21/3/2022 16:00:00,NaN,NaN,2.0,2.0,2.0
242,Y6707074@1,1,62,泌尿外科病区,泌尿外科病区,14/3/2022 10:43:34,21/3/2022 16:00:00,NaN,NaN,2.0,2.0,2.0
243,S000083813@4,1,67,肾脏病科病区,肾脏病科病区,15/3/2022 14:34:10,21/3/2022 16:00:00,NaN,NaN,2.0,2.0,2.0
244,S000156885@1,1,71,神经外科一科病区,A呼吸与危重症医学科,15/3/2022 08:27:42,21/3/2022 17:00:51,NaN,NaN,2.0,2.0,2.0
250,00174921,2,64,心血管内三科病区,心血管内三科病区,18/1/2021 07:10:00,NaN,1.0,1.0,2.0,2.0,2.0

In [209]:
# 条件返回一个series，index就是dataframe和series的index，value就是布尔值
df['patient_age']>60

0      False
1      False
2       True
3       True
4       True
       ...
247    False
248    False
249    False
250     True
251    False
Name: patient_age, Length: 252, dtype: bool

In [33]:
# 按多个条件选择某些行，条件组合时要用& | ~ 这些或与非 布尔逻辑运算符
df[(df['patient_age']>60)&(df['current_dept']=='心血管内三科病区')]

,patient_no,patient_sex,patient_age,current_dept,admi_dept,registration_time,discharge_time,vte_risk_level,bled_risk_level,is_vte,is_pe,is_dvt
9,Y3216908@1,1,71,心血管内三科病区,A呼吸与危重症医学科,23/3/2022 14:30:22,NaN,1.0,1.0,2.0,2.0,2.0
23,3710010013@17,1,85,心血管内三科病区,心血管内三科病区,2/3/2022 11:00:00,NaN,3.0,3.0,2.0,2.0,2.0
45,Y6735028@1,1,64,心血管内三科病区,心血管内三科病区,20/3/2022 10:09:50,NaN,1.0,1.0,2.0,2.0,2.0
65,Y6523309@2,1,76,心血管内三科病区,心血管内三科病区,14/3/2022 09:36:55,NaN,2.0,2.0,2.0,2.0,2.0
78,S000159530@1,2,70,心血管内三科病区,心血管内三科病区,23/3/2022 09:58:43,NaN,3.0,1.0,1.0,1.0,1.0
81,S000149247@2,2,100,心血管内三科病区,心血管内三科病区,19/3/2022 10:22:19,NaN,3.0,2.0,2.0,2.0,2.0
122,Y4168051@1,1,62,心血管内三科病区,心血管内三科病区,22/3/2022 10:00:00,NaN,1.0,1.0,2.0,2.0,2.0
132,Y0959310@1,2,84,心血管内三科病区,肾脏病科病区,19/3/2022 10:02:41,NaN,1.0,1.0,2.0,2.0,2.0
135,06324862@1,2,74,心血管内三科病区,心血管内三科病区,21/3/2022 09:45:41,NaN,1.0,1.0,2.0,2.0,2.0
174,Y6742566@1,1,69,心血管内三科病区,肾脏病科病区,18/3/2022 10:25:52,24/3/2022 10:00:00,3.0,3.0,2.0,2.0,2.0
228,Y6719286@1,2,74,心血管内三科病区,心血管内三科病区,9/3/2022 10:59:48,22/3/2022 10:00:00,NaN,NaN,2.0,2.0,2.0
233,Y6722241@1,2,65,心血管内三科病区,心血管内三科病区,16/3/2022 10:15:07,22/3/2022 10:00:00,NaN,NaN,2.0,2.0,2.0
250,00174921,2,64,心血管内三科病区,心血管内三科病区,18/1/2021 07:10:00,NaN,1.0,1.0,2.0,2.0,2.0

### 选择某些行和列

选择某些列和某些行，可以直接使用[]操作，若选择某些行和列的特定区域，则需要用.loc或.iloc方法了

In [34]:
# 下面是loc进行某些行和列的查询
#使用单个label值查询数据
df.loc[0,'current_dept']# 等同于df.at[0,'current_dept']

'泌尿外科病区'

In [35]:
#使用值+列表批量查询
df.loc[0,"patient_sex":'current_dept']

patient_sex          1
patient_age         33
current_dept    泌尿外科病区
Name: 0, dtype: object

In [36]:
#使用数值区间进行范围查询
df.loc[[0,2,3],"patient_sex":'current_dept']

   patient_sex  patient_age current_dept
0            1           33       泌尿外科病区
2            2           69       消化内科病区
3            1           81       泌尿外科病区

In [37]:
# 使用条件表达式进行筛选
df.loc[df['patient_age']>60,"patient_sex":'current_dept']

     patient_sex  patient_age current_dept
2              2           69       消化内科病区
3              1           81       泌尿外科病区
4              2           74      肝胆胰外科病区
8              1           90       神经内科病区
9              1           71     心血管内三科病区
..           ...          ...          ...
241            1           65       泌尿外科病区
242            1           62       泌尿外科病区
243            1           67       肾脏病科病区
244            1           71     神经外科一科病区
250            2           64     心血管内三科病区

[127 rows x 3 columns]

In [210]:
# 使用函数进行筛选
def func_test(x):
    return x['patient_age']>60
df.loc[func_test,"patient_sex":'current_dept']

     patient_sex  patient_age current_dept
2              2           69       消化内科病区
3              1           81       泌尿外科病区
4              2           74      肝胆胰外科病区
8              1           90       神经内科病区
9              1           71     心血管内三科病区
..           ...          ...          ...
241            1           65       泌尿外科病区
242            1           62       泌尿外科病区
243            1           67       肾脏病科病区
244            1           71     神经外科一科病区
250            2           64     心血管内三科病区

[127 rows x 3 columns]

## 新增数据列
 
 计算出院病人的住院天数

In [211]:
# 转换时间格式
df['registration_time2'] = pd.to_datetime(df['registration_time'])
df['discharge_time2'] = pd.to_datetime(df['discharge_time'])
# 计算时间差
df['timedelta'] = df['discharge_time2'] - df['registration_time2'] 
df

,patient_no,patient_sex,patient_age,current_dept,admi_dept,registration_time,discharge_time,vte_risk_level,bled_risk_level,is_vte,is_pe,is_dvt,registration_time2,discharge_time2,timedelta
0,S000152756@2,1,33,泌尿外科病区,神经内科病区,21/3/2022 15:18:27,NaN,1.0,1.0,2.0,2.0,2.0,2022-03-21 15:18:27,NaT,NaT
1,10526527@6,1,53,泌尿外科病区,肝胆胰外科病区,13/3/2022 15:27:46,NaN,2.0,1.0,2.0,2.0,2.0,2022-03-13 15:27:46,NaT,NaT
2,10308108@3,2,69,消化内科病区,消化内科病区,22/3/2022 15:14:05,NaN,3.0,3.0,2.0,2.0,2.0,2022-03-22 15:14:05,NaT,NaT
3,10324585@5,1,81,泌尿外科病区,泌尿外科病区,14/3/2022 15:26:29,NaN,2.0,2.0,2.0,2.0,2.0,2022-03-14 15:26:29,NaT,NaT
4,S000074604@2,2,74,肝胆胰外科病区,A呼吸与危重症医学科,1/3/2022 16:14:04,NaN,3.0,3.0,2.0,2.0,2.0,2022-01-03 16:14:04,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,S000157033@1,1,54,神经外科一科病区,神经外科一科病区,14/3/2022 14:37:23,18/3/2022 15:28:36,NaN,NaN,2.0,2.0,2.0,2022-03-14 14:37:23,2022-03-18 15:28:36,4 days 00:51:13
248,6706100702@2,2,54,神经外科一科病区,A呼吸与危重症医学科,14/3/2022 11:07:28,18/3/2022 17:43:31,NaN,NaN,2.0,2.0,2.0,2022-03-14 11:07:28,2022-03-18 17:43:31,4 days 06:36:03
249,Y6695840@1,2,42,神经外科一科病区,神经外科一科病区,2/3/2022 15:10:35,17/3/2022 17:11:54,NaN,NaN,2.0,2.0,2.0,2022-02-03 15:10:35,2022-03-17 17:11:54,42 days 02:01:19
250,00174921,2,64,心血管内三科病区,心血管内三科病区,18/1/2021 07:10:00,NaN,1.0,1.0,2.0,2.0,2.0,2021-01-18 07:10:00,NaT,NaT
251,X0027446@1,1,30,心血管内三科病区,心血管内三科病区,19/5/2022 20:30:26,NaN,1.0,1.0,NaN,NaN,NaN,2022-05-19 20:30:26,NaT,NaT

## apply方法

In [42]:
# 使用Dataframe的apply方法
df['days2'] = df.apply(lambda row: row['timedelta'].days if row['timedelta'] else None,axis='columns')
# 使用Series的apply方法
df['days1'] = df['timedelta'].apply(lambda x: x.days  if x else None)
df

,patient_no,patient_sex,patient_age,current_dept,admi_dept,registration_time,discharge_time,vte_risk_level,bled_risk_level,is_vte,is_pe,is_dvt,registration_time2,discharge_time2,timedelta,days2,days1
0,S000152756@2,1,33,泌尿外科病区,神经内科病区,21/3/2022 15:18:27,NaN,1.0,1.0,2.0,2.0,2.0,2022-03-21 15:18:27,NaT,NaT,NaN,NaN
1,10526527@6,1,53,泌尿外科病区,肝胆胰外科病区,13/3/2022 15:27:46,NaN,2.0,1.0,2.0,2.0,2.0,2022-03-13 15:27:46,NaT,NaT,NaN,NaN
2,10308108@3,2,69,消化内科病区,消化内科病区,22/3/2022 15:14:05,NaN,3.0,3.0,2.0,2.0,2.0,2022-03-22 15:14:05,NaT,NaT,NaN,NaN
3,10324585@5,1,81,泌尿外科病区,泌尿外科病区,14/3/2022 15:26:29,NaN,2.0,2.0,2.0,2.0,2.0,2022-03-14 15:26:29,NaT,NaT,NaN,NaN
4,S000074604@2,2,74,肝胆胰外科病区,A呼吸与危重症医学科,1/3/2022 16:14:04,NaN,3.0,3.0,2.0,2.0,2.0,2022-01-03 16:14:04,NaT,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,S000157033@1,1,54,神经外科一科病区,神经外科一科病区,14/3/2022 14:37:23,18/3/2022 15:28:36,NaN,NaN,2.0,2.0,2.0,2022-03-14 14:37:23,2022-03-18 15:28:36,4 days 00:51:13,4.0,4.0
248,6706100702@2,2,54,神经外科一科病区,A呼吸与危重症医学科,14/3/2022 11:07:28,18/3/2022 17:43:31,NaN,NaN,2.0,2.0,2.0,2022-03-14 11:07:28,2022-03-18 17:43:31,4 days 06:36:03,4.0,4.0
249,Y6695840@1,2,42,神经外科一科病区,神经外科一科病区,2/3/2022 15:10:35,17/3/2022 17:11:54,NaN,NaN,2.0,2.0,2.0,2022-02-03 15:10:35,2022-03-17 17:11:54,42 days 02:01:19,42.0,42.0
250,00174921,2,64,心血管内三科病区,心血管内三科病区,18/1/2021 07:10:00,NaN,1.0,1.0,2.0,2.0,2.0,2021-01-18 07:10:00,NaT,NaT,NaN,NaN
251,X0027446@1,1,30,心血管内三科病区,心血管内三科病区,19/5/2022 20:30:26,NaN,1.0,1.0,NaN,NaN,NaN,2022-05-19 20:30:26,NaT,NaT,NaN,NaN

## groupby讲解

做数据分析，非常重要的一个操作就是Group by

 [Group by: split-apply-combine](https://pandas.pydata.org/docs/user_guide/groupby.html)
![image-3.png](./img/pandas_groupby.png)

                     patient_no  patient_sex  patient_age current_dept  \
current_dept
心血管内三科病区     81    S000149247@2            2          100     心血管内三科病区
             23   3710010013@17            1           85     心血管内三科病区
泌尿外科病区       3       10324585@5            1           81       泌尿外科病区
             125     10478469@2            1           74       泌尿外科病区
消化内科病区       34        103670@7            1           90       消化内科病区
             194     10527887@3            2           87       消化内科病区
神经内科病区       86   2601010003@10            1           96       神经内科病区
             108    10153118@10            2           93       神经内科病区
神经外科一科病区     147   S000089726@6            2           84     神经外科一科病区
             215     X0025030@1            1           73     神经外科一科病区
肝胆胰外科病区      204   S000150779@1            1           78      肝胆胰外科病区
             31    S000157803@1            1           76      肝胆胰外科病区
肾脏病科病区       169     Q0027217@1            2           84       肾脏病科病区
             227     10474771@5            1           82       肾脏病科病区
肿瘤内科病区       84      10581026@9            1           73       肿瘤内科病区
             95      06739012@7            2           73       肿瘤内科病区
胸外科病区        94      10452860@2            1           85        胸外科病区
             162   S000158046@1            2           70        胸外科病区
骨科病区         179     10323623@5            1           96         骨科病区
             159    10125936@11            2           90         骨科病区

                 admi_dept   registration_time      discharge_time  \
current_dept
心血管内三科病区     81   心血管内三科病区  19/3/2022 10:22:19                 NaN
             23   心血管内三科病区   2/3/2022 11:00:00                 NaN
泌尿外科病区       3      泌尿外科病区  14/3/2022 15:26:29                 NaN
             125    泌尿外科病区   9/3/2022 10:19:42                 NaN
消化内科病区       34     消化内科病区  21/3/2022 10:18:20                 NaN
             194    消化内科病区  16/3/2022 15:15:41  23/3/2022 10:00:00
神经内科病区       86     神经内科病区  15/3/2022 08:03:27                 NaN
             108    神经内科病区  15/3/2022 15:35:27                 NaN
神经外科一科病区     147    泌尿外科病区  14/3/2022 16:31:07                 NaN
             215  神经外科一科病区   1/3/2022 08:07:05  22/3/2022 17:05:48
肝胆胰外科病区      204   肝胆胰外科病区  26/2/2022 10:06:48  23/3/2022 16:23:57
             31    肝胆胰外科病区  17/3/2022 09:15:01                 NaN
肾脏病科病区       169    肾脏病科病区  14/3/2022 10:13:23  24/3/2022 10:00:00
             227    肾脏病科病区  14/3/2022 09:23:34  22/3/2022 10:00:00
肿瘤内科病区       84     肿瘤内科病区  22/3/2022 15:06:03                 NaN
             95     肿瘤内科病区  15/3/2022 10:11:45                 NaN
胸外科病区        94      胸外科病区  24/3/2022 15:19:35                 NaN
             162     胸外科病区  17/3/2022 10:26:52  24/3/2022 16:52:32
骨科病区         179    肾脏病科病区  15/3/2022 14:50:53  23/3/2022 15:56:34
             159      骨科病区  18/3/2022 16:03:08  24/3/2022 16:46:00

                  vte_risk_level  bled_risk_level  is_vte  is_pe  is_dvt  \
current_dept
心血管内三科病区     81              3.0              2.0     2.0    2.0     2.0
             23              3.0              3.0     2.0    2.0     2.0
泌尿外科病区       3               2.0              2.0     2.0    2.0     2.0
             125             2.0              1.0     2.0    2.0     2.0
消化内科病区       34              2.0              2.0     2.0    2.0     2.0
             194             NaN              NaN     2.0    2.0     2.0
神经内科病区       86              3.0              3.0     2.0    2.0     2.0
             108             3.0              3.0     2.0    2.0     2.0
神经外科一科病区     147             3.0              3.0     2.0    2.0     2.0
             215             NaN              NaN     2.0    2.0     2.0
肝胆胰外科病区      204             NaN              NaN     2.0    2.0     2.0
             31              3.0              3.0     2.0    2.0     2.0
肾脏病科病区       169             NaN              NaN     2.0    2.0     2.0
             227             NaN              NaN     2.0    2.0     2.0
肿瘤内科病区       84              3.0              2.0     2.0    2.0     2.0
             95              3.0              3.0     2.0    2.0     2.0
胸外科病区        94              3.0              1.0     2.0    2.0     2.0
             162             NaN              NaN     2.0    2.0     2.0
骨科病区         179             NaN              NaN     2.0    2.0     2.0
             159             NaN              NaN     2.0    2.0     2.0

                  registration_time2     discharge_time2        timedelta  \
current_dept
心血管内三科病区     81  2022-03-19 10:22:19                 NaT              NaT
             23  2022-02-03 11:00:00                 NaT              NaT
泌尿外科病区       3   2022-03-14 15:26:29                 NaT              NaT
             125 2022-09-03 10:19:42                 NaT              NaT
消化内科病区       34  2022-03-21 10:18:20                 NaT              NaT
             194 2022-03-16 15:15:41 2022-03-23 10:00:00  6 days 18:44:19
神经内科病区       86  2022-03-15 08:03:27                 NaT              NaT
             108 2022-03-15 15:35:27                 NaT              NaT
神经外科一科病区     147 2022-03-14 16:31:07                 NaT              NaT
             215 2022-01-03 08:07:05 2022-03-22 17:05:48 78 days 08:58:43
肝胆胰外科病区      204 2022-02-26 10:06:48 2022-03-23 16:23:57 25 days 06:17:09
             31  2022-03-17 09:15:01                 NaT              NaT
肾脏病科病区       169 2022-03-14 10:13:23 2022-03-24 10:00:00  9 days 23:46:37
             227 2022-03-14 09:23:34 2022-03-22 10:00:00  8 days 00:36:26
肿瘤内科病区       84  2022-03-22 15:06:03                 NaT              NaT
             95  2022-03-15 10:11:45                 NaT              NaT
胸外科病区        94  2022-03-24 15:19:35                 NaT              NaT
             162 2022-03-17 10:26:52 2022-03-24 16:52:32  7 days 06:25:40
骨科病区         179 2022-03-15 14:50:53 2022-03-23 15:56:34  8 days 01:05:41
             159 2022-03-18 16:03:08 2022-03-24 16:46:00  6 days 00:42:52

                  days2  days1
current_dept
心血管内三科病区     81     NaN    NaN
             23     NaN    NaN
泌尿外科病区       3      NaN    NaN
             125    NaN    NaN
消化内科病区       34     NaN    NaN
             194    6.0    6.0
神经内科病区       86     NaN    NaN
             108    NaN    NaN
神经外科一科病区     147    NaN    NaN
             215   78.0   78.0
肝胆胰外科病区      204   25.0   25.0
             31     NaN    NaN
肾脏病科病区       169    9.0    9.0
             227    8.0    8.0
肿瘤内科病区       84     NaN    NaN
             95     NaN    NaN
胸外科病区        94     NaN    NaN
             162    7.0    7.0
骨科病区         179    8.0    8.0
             159    6.0    6.0

### 求分组后的最大值

In [213]:
df['patient_age'].max()

100

In [212]:
# 计算每个科室的患者最大年龄： 写法1
def  max_age(df):
    return df['patient_age'].max()
df.groupby('current_dept').apply(max_age)

current_dept
心血管内三科病区    100
泌尿外科病区       81
消化内科病区       90
神经内科病区       96
神经外科一科病区     84
肝胆胰外科病区      78
肾脏病科病区       84
肿瘤内科病区       73
胸外科病区        85
骨科病区         96
dtype: int64

In [46]:
# 计算每个科室的患者最大年龄： 写法2
df.groupby('current_dept')['patient_age'].max()

current_dept
心血管内三科病区    100
泌尿外科病区       81
消化内科病区       90
神经内科病区       96
神经外科一科病区     84
肝胆胰外科病区      78
肾脏病科病区       84
肿瘤内科病区       73
胸外科病区        85
骨科病区         96
Name: patient_age, dtype: int64

In [47]:
# 计算每个科室的患者最大年龄： 写法3
df.groupby('current_dept')['patient_age'].agg('max')

current_dept
心血管内三科病区    100
泌尿外科病区       81
消化内科病区       90
神经内科病区       96
神经外科一科病区     84
肝胆胰外科病区      78
肾脏病科病区       84
肿瘤内科病区       73
胸外科病区        85
骨科病区         96
Name: patient_age, dtype: int64

In [48]:
# 计算每个科室的患者最大年龄： 写法4
df.groupby('current_dept')['patient_age'].agg(['count','mean','max','min','median'])

              count       mean  max  min  median
current_dept
心血管内三科病区         25  58.520000  100    1    62.0
泌尿外科病区           31  51.225806   81   22    55.0
消化内科病区           29  63.068966   90   28    64.0
神经内科病区           23  67.565217   96   23    69.0
神经外科一科病区         24  54.333333   84   26    53.5
肝胆胰外科病区          23  55.217391   78   16    57.0
肾脏病科病区           27  65.444444   84   34    65.0
肿瘤内科病区           23  62.869565   73   49    64.0
胸外科病区            23  59.478261   85   31    61.0
骨科病区             24  57.583333   96   21    59.0

### 求分组后最大的几条记录

In [214]:

# 找出每个科室年龄最大的两个患者的数据
def  age_topN(df,topN=2):
    return df.sort_values(by='patient_age',ascending=False)[:topN]

df_g1 = df.groupby('current_dept').apply(age_topN,topN=2)
df_g1

                     patient_no  patient_sex  patient_age current_dept  \
current_dept
心血管内三科病区     81    S000149247@2            2          100     心血管内三科病区
             23   3710010013@17            1           85     心血管内三科病区
泌尿外科病区       3       10324585@5            1           81       泌尿外科病区
             125     10478469@2            1           74       泌尿外科病区
消化内科病区       34        103670@7            1           90       消化内科病区
             194     10527887@3            2           87       消化内科病区
神经内科病区       86   2601010003@10            1           96       神经内科病区
             108    10153118@10            2           93       神经内科病区
神经外科一科病区     147   S000089726@6            2           84     神经外科一科病区
             215     X0025030@1            1           73     神经外科一科病区
肝胆胰外科病区      204   S000150779@1            1           78      肝胆胰外科病区
             31    S000157803@1            1           76      肝胆胰外科病区
肾脏病科病区       169     Q0027217@1            2           84       肾脏病科病区
             227     10474771@5            1           82       肾脏病科病区
肿瘤内科病区       84      10581026@9            1           73       肿瘤内科病区
             95      06739012@7            2           73       肿瘤内科病区
胸外科病区        94      10452860@2            1           85        胸外科病区
             162   S000158046@1            2           70        胸外科病区
骨科病区         179     10323623@5            1           96         骨科病区
             159    10125936@11            2           90         骨科病区

                 admi_dept   registration_time      discharge_time  \
current_dept
心血管内三科病区     81   心血管内三科病区  19/3/2022 10:22:19                 NaN
             23   心血管内三科病区   2/3/2022 11:00:00                 NaN
泌尿外科病区       3      泌尿外科病区  14/3/2022 15:26:29                 NaN
             125    泌尿外科病区   9/3/2022 10:19:42                 NaN
消化内科病区       34     消化内科病区  21/3/2022 10:18:20                 NaN
             194    消化内科病区  16/3/2022 15:15:41  23/3/2022 10:00:00
神经内科病区       86     神经内科病区  15/3/2022 08:03:27                 NaN
             108    神经内科病区  15/3/2022 15:35:27                 NaN
神经外科一科病区     147    泌尿外科病区  14/3/2022 16:31:07                 NaN
             215  神经外科一科病区   1/3/2022 08:07:05  22/3/2022 17:05:48
肝胆胰外科病区      204   肝胆胰外科病区  26/2/2022 10:06:48  23/3/2022 16:23:57
             31    肝胆胰外科病区  17/3/2022 09:15:01                 NaN
肾脏病科病区       169    肾脏病科病区  14/3/2022 10:13:23  24/3/2022 10:00:00
             227    肾脏病科病区  14/3/2022 09:23:34  22/3/2022 10:00:00
肿瘤内科病区       84     肿瘤内科病区  22/3/2022 15:06:03                 NaN
             95     肿瘤内科病区  15/3/2022 10:11:45                 NaN
胸外科病区        94      胸外科病区  24/3/2022 15:19:35                 NaN
             162     胸外科病区  17/3/2022 10:26:52  24/3/2022 16:52:32
骨科病区         179    肾脏病科病区  15/3/2022 14:50:53  23/3/2022 15:56:34
             159      骨科病区  18/3/2022 16:03:08  24/3/2022 16:46:00

                  vte_risk_level  bled_risk_level  is_vte  is_pe  is_dvt  \
current_dept
心血管内三科病区     81              3.0              2.0     2.0    2.0     2.0
             23              3.0              3.0     2.0    2.0     2.0
泌尿外科病区       3               2.0              2.0     2.0    2.0     2.0
             125             2.0              1.0     2.0    2.0     2.0
消化内科病区       34              2.0              2.0     2.0    2.0     2.0
             194             NaN              NaN     2.0    2.0     2.0
神经内科病区       86              3.0              3.0     2.0    2.0     2.0
             108             3.0              3.0     2.0    2.0     2.0
神经外科一科病区     147             3.0              3.0     2.0    2.0     2.0
             215             NaN              NaN     2.0    2.0     2.0
肝胆胰外科病区      204             NaN              NaN     2.0    2.0     2.0
             31              3.0              3.0     2.0    2.0     2.0
肾脏病科病区       169             NaN              NaN     2.0    2.0     2.0
             227             NaN              NaN     2.0    2.0     2.0
肿瘤内科病区       84              3.0              2.0     2.0    2.0     2.0
             95              3.0              3.0     2.0    2.0     2.0
胸外科病区        94              3.0              1.0     2.0    2.0     2.0
             162             NaN              NaN     2.0    2.0     2.0
骨科病区         179             NaN              NaN     2.0    2.0     2.0
             159             NaN              NaN     2.0    2.0     2.0

                  registration_time2     discharge_time2        timedelta
current_dept
心血管内三科病区     81  2022-03-19 10:22:19                 NaT              NaT
             23  2022-02-03 11:00:00                 NaT              NaT
泌尿外科病区       3   2022-03-14 15:26:29                 NaT              NaT
             125 2022-09-03 10:19:42                 NaT              NaT
消化内科病区       34  2022-03-21 10:18:20                 NaT              NaT
             194 2022-03-16 15:15:41 2022-03-23 10:00:00  6 days 18:44:19
神经内科病区       86  2022-03-15 08:03:27                 NaT              NaT
             108 2022-03-15 15:35:27                 NaT              NaT
神经外科一科病区     147 2022-03-14 16:31:07                 NaT              NaT
             215 2022-01-03 08:07:05 2022-03-22 17:05:48 78 days 08:58:43
肝胆胰外科病区      204 2022-02-26 10:06:48 2022-03-23 16:23:57 25 days 06:17:09
             31  2022-03-17 09:15:01                 NaT              NaT
肾脏病科病区       169 2022-03-14 10:13:23 2022-03-24 10:00:00  9 days 23:46:37
             227 2022-03-14 09:23:34 2022-03-22 10:00:00  8 days 00:36:26
肿瘤内科病区       84  2022-03-22 15:06:03                 NaT              NaT
             95  2022-03-15 10:11:45                 NaT              NaT
胸外科病区        94  2022-03-24 15:19:35                 NaT              NaT
             162 2022-03-17 10:26:52 2022-03-24 16:52:32  7 days 06:25:40
骨科病区         179 2022-03-15 14:50:53 2022-03-23 15:56:34  8 days 01:05:41
             159 2022-03-18 16:03:08 2022-03-24 16:46:00  6 days 00:42:52

# 真实需求案例
- 使用预置环境和预置数据，无需编程基础，可以直接上手，满足一个统计需求
    - 1、统计每个科室的不同性别的人数，平均年龄，最大年龄、最小年龄
    - 2、统计每个科室的不同性别的VTE高危占比
    - 3、数据合并输出表格

In [215]:
df['性别']=df['patient_sex'].apply(lambda x: '男' if x == 1 else '女')
df['科室']=df['current_dept']
# 统计每个科室的人数，平均年龄，最大年龄、最小年龄
df_result_age = df.groupby(['性别','科室'])['patient_age'].agg(['count','mean','max','min'])
df_result_age

             count       mean  max  min
性别 科室
女  心血管内三科病区     13  59.076923  100    1
   泌尿外科病区        4  41.750000   58   24
   消化内科病区        8  58.750000   87   35
   神经内科病区       11  72.000000   93   29
   神经外科一科病区      9  52.888889   84   26
   肝胆胰外科病区       9  51.666667   74   16
   肾脏病科病区        8  69.250000   84   51
   肿瘤内科病区        4  66.000000   73   60
   胸外科病区         6  63.500000   70   50
   骨科病区         13  62.538462   90   21
男  心血管内三科病区     12  57.916667   85   30
   泌尿外科病区       27  52.629630   81   22
   消化内科病区       21  64.714286   90   28
   神经内科病区       12  63.500000   96   23
   神经外科一科病区     15  55.200000   73   33
   肝胆胰外科病区      14  57.500000   78   43
   肾脏病科病区       19  63.842105   82   34
   肿瘤内科病区       19  62.210526   73   49
   胸外科病区        17  58.058824   85   31
   骨科病区         11  51.727273   96   24

In [216]:
df_result_age = df_result_age.rename(columns={'count':'病人数','mean':'平均年龄','max':'最大年龄','min':'最小年龄'})
df_result_age

             病人数       平均年龄  最大年龄  最小年龄
性别 科室
女  心血管内三科病区   13  59.076923   100     1
   泌尿外科病区      4  41.750000    58    24
   消化内科病区      8  58.750000    87    35
   神经内科病区     11  72.000000    93    29
   神经外科一科病区    9  52.888889    84    26
   肝胆胰外科病区     9  51.666667    74    16
   肾脏病科病区      8  69.250000    84    51
   肿瘤内科病区      4  66.000000    73    60
   胸外科病区       6  63.500000    70    50
   骨科病区       13  62.538462    90    21
男  心血管内三科病区   12  57.916667    85    30
   泌尿外科病区     27  52.629630    81    22
   消化内科病区     21  64.714286    90    28
   神经内科病区     12  63.500000    96    23
   神经外科一科病区   15  55.200000    73    33
   肝胆胰外科病区    14  57.500000    78    43
   肾脏病科病区     19  63.842105    82    34
   肿瘤内科病区     19  62.210526    73    49
   胸外科病区      17  58.058824    85    31
   骨科病区       11  51.727273    96    24

In [52]:
# 统计前预处理
df_tmp['VTE高危']=df_tmp['vte_risk_level'].apply(lambda x: 1 if x==3 else 0)
df_tmp

    性别        科室  vte_risk_level  VTE高危
0    男    泌尿外科病区             1.0      0
1    男    泌尿外科病区             2.0      0
2    女    消化内科病区             3.0      1
3    男    泌尿外科病区             2.0      0
4    女   肝胆胰外科病区             3.0      1
..  ..       ...             ...    ...
247  男  神经外科一科病区             NaN      0
248  女  神经外科一科病区             NaN      0
249  女  神经外科一科病区             NaN      0
250  女  心血管内三科病区             1.0      0
251  男  心血管内三科病区             1.0      0

[252 rows x 4 columns]

In [218]:
# 
df_result_vte_high=df_tmp.groupby(['性别','科室'])['VTE高危'].agg(['sum','mean']).rename(columns={'sum':'VTE高危人数','mean':'VTE高危占比'})
df_result_vte_high

             VTE高危人数   VTE高危占比
性别 科室
女  心血管内三科病区        2  0.153846
   泌尿外科病区          1  0.250000
   消化内科病区          1  0.125000
   神经内科病区          2  0.181818
   神经外科一科病区        2  0.222222
   肝胆胰外科病区         3  0.333333
   肾脏病科病区          1  0.125000
   肿瘤内科病区          2  0.500000
   胸外科病区           0  0.000000
   骨科病区            2  0.153846
男  心血管内三科病区        2  0.166667
   泌尿外科病区          5  0.185185
   消化内科病区          6  0.285714
   神经内科病区          2  0.166667
   神经外科一科病区        3  0.200000
   肝胆胰外科病区         3  0.214286
   肾脏病科病区          5  0.263158
   肿瘤内科病区         10  0.526316
   胸外科病区           3  0.176471
   骨科病区            2  0.181818

In [219]:
# 合并结果
df_result = pd.concat([df_result_age,df_result_vte_high],axis='columns')
df_result

             病人数       平均年龄  最大年龄  最小年龄  VTE高危人数   VTE高危占比
性别 科室
女  心血管内三科病区   13  59.076923   100     1        2  0.153846
   泌尿外科病区      4  41.750000    58    24        1  0.250000
   消化内科病区      8  58.750000    87    35        1  0.125000
   神经内科病区     11  72.000000    93    29        2  0.181818
   神经外科一科病区    9  52.888889    84    26        2  0.222222
   肝胆胰外科病区     9  51.666667    74    16        3  0.333333
   肾脏病科病区      8  69.250000    84    51        1  0.125000
   肿瘤内科病区      4  66.000000    73    60        2  0.500000
   胸外科病区       6  63.500000    70    50        0  0.000000
   骨科病区       13  62.538462    90    21        2  0.153846
男  心血管内三科病区   12  57.916667    85    30        2  0.166667
   泌尿外科病区     27  52.629630    81    22        5  0.185185
   消化内科病区     21  64.714286    90    28        6  0.285714
   神经内科病区     12  63.500000    96    23        2  0.166667
   神经外科一科病区   15  55.200000    73    33        3  0.200000
   肝胆胰外科病区    14  57.500000    78    43        3  0.214286
   肾脏病科病区     19  63.842105    82    34        5  0.263158
   肿瘤内科病区     19  62.210526    73    49       10  0.526316
   胸外科病区      17  58.058824    85    31        3  0.176471
   骨科病区       11  51.727273    96    24        2  0.181818

In [221]:
# 行列结构转换
# y =  pd.pivot_table(df_result,index=['科室'],columns=['性别'],
#                values=df_result.columns,fill_value=0,margins=0)
df_result2 = df_result.unstack(level=0)
df_result2.columns = df_result2.columns.swaplevel(0,1)
df_result2

性别,女,男,女,男,女,男,女,男,女,男,女,男
,病人数,病人数,平均年龄,平均年龄,最大年龄,最大年龄,最小年龄,最小年龄,VTE高危人数,VTE高危人数,VTE高危占比,VTE高危占比
科室,,,,,,,,,,,,
心血管内三科病区,13,12,59.076923,57.916667,100,85,1,30,2,2,0.153846,0.166667
泌尿外科病区,4,27,41.750000,52.629630,58,81,24,22,1,5,0.250000,0.185185
消化内科病区,8,21,58.750000,64.714286,87,90,35,28,1,6,0.125000,0.285714
神经内科病区,11,12,72.000000,63.500000,93,96,29,23,2,2,0.181818,0.166667
神经外科一科病区,9,15,52.888889,55.200000,84,73,26,33,2,3,0.222222,0.200000
肝胆胰外科病区,9,14,51.666667,57.500000,74,78,16,43,3,3,0.333333,0.214286
肾脏病科病区,8,19,69.250000,63.842105,84,82,51,34,1,5,0.125000,0.263158
肿瘤内科病区,4,19,66.000000,62.210526,73,73,60,49,2,10,0.500000,0.526316
胸外科病区,6,17,63.500000,58.058824,70,85,50,31,0,3,0.000000,0.176471
骨科病区,13,11,62.538462,51.727273,90,96,21,24,2,2,0.153846,0.181818

In [222]:
# https://pandas.pydata.org/docs/reference/api/pandas.MultiIndex.sortlevel.html
sort_index, indexer = df_result2.columns.sortlevel(0)  # 列索引对第一级进行排序，自动合并
z= df_result2.iloc[:,indexer]
z

性别         女                                          男                       \
         病人数       平均年龄 最大年龄 最小年龄 VTE高危人数   VTE高危占比 病人数       平均年龄 最大年龄 最小年龄
科室
心血管内三科病区  13  59.076923  100    1       2  0.153846  12  57.916667   85   30
泌尿外科病区     4  41.750000   58   24       1  0.250000  27  52.629630   81   22
消化内科病区     8  58.750000   87   35       1  0.125000  21  64.714286   90   28
神经内科病区    11  72.000000   93   29       2  0.181818  12  63.500000   96   23
神经外科一科病区   9  52.888889   84   26       2  0.222222  15  55.200000   73   33
肝胆胰外科病区    9  51.666667   74   16       3  0.333333  14  57.500000   78   43
肾脏病科病区     8  69.250000   84   51       1  0.125000  19  63.842105   82   34
肿瘤内科病区     4  66.000000   73   60       2  0.500000  19  62.210526   73   49
胸外科病区      6  63.500000   70   50       0  0.000000  17  58.058824   85   31
骨科病区      13  62.538462   90   21       2  0.153846  11  51.727273   96   24

性别
         VTE高危人数   VTE高危占比
科室
心血管内三科病区       2  0.166667
泌尿外科病区         5  0.185185
消化内科病区         6  0.285714
神经内科病区         2  0.166667
神经外科一科病区       3  0.200000
肝胆胰外科病区        3  0.214286
肾脏病科病区         5  0.263158
肿瘤内科病区        10  0.526316
胸外科病区          3  0.176471
骨科病区           2  0.181818

In [226]:
%%javascript
var kernel = IPython.notebook.kernel;
var body = document.body,  
    attribs = body.attributes;
var command = "theNotebook = " + "'"+attribs['data-notebook-name'].value+"'";
kernel.execute(command);

In [227]:
# [jupyter notebook 获取文件名字](https://www.cxymm.net/article/orDream/110150196)
print(theNotebook)

a.ipynb

In [197]:
# 写入excel
z.to_excel(theNotebook.replace('.ipynb','_out.xlsx'))
# # 写入excel
# df_result2.to_csv(theNotebook.replace('.ipynb','_out.csv'))